<h1>Active Signups</h1>

<h1>Fill out signup</h1>

<div>Name: <%= form.Name%></div>
<div>Description: <%= form.Description%></div>

<form action="/signups/active/submitForm" method="POST">
    <% for(var i = 0; i < form.Fields.length; i++) { 
        if (form.Fields[i].ResponseType == "text") {%>
    <div>
      <label for="<%= i %>"><%= form.Fields[i].FieldName%></label>
      <input type="text" id="<%= i %>" name="<%= i %>" <% if (form.Fields[i].Required) {%> required<%}%> >
    </div>
    <%}} %>
    <input type="hidden" name="sheet_id" value="<%= form._id %>">
    <button type="submit">Submit</button>
</form>