<div class="unique-sheet-view-holder">
    <div class="unqiue-sheet-view-top-bar">
        <div class="sheet-name-text-box">
            <%=sheet.Name%>
        </div>
        <div class="sheet-name-drop-button">
            <span class="fas fa-caret-down" onclick="expandBox(this)" style="cursor: pointer;"></span></div>
    </div>
    <div class="sheet-view-hidden-area "> <!--contracting-box-collapsed-->
        <div class="sheet-view-description-box">
            <%=sheet.Description %>
        </div>
        <div class="sheet-view-actions-tool-bar">
            <div class="sheet-view-tool-bar-option" onclick="">
                <div class="sheet-view-tool-bar-button">
                    <span class="far fa-check-circle"></span></div> 
                <div class="sheet-view-tool-bar-text">Submit Sheet</div>
            </div>

            <div class="sheet-view-tool-bar-option" onclick="">
                <div class="sheet-view-tool-bar-button">
                    <span class="far fa-edit"></span></div> 
                <div class="sheet-view-tool-bar-text">Edit Submission</div>
            </div>

            <div style="float:right; width: 110px" class="sheet-view-tool-bar-option">
                <div class="sheet-view-tool-bar-button">
                    <span class="fas fa-ellipsis-h"></span></div> 
                <div style="float:right; padding-top: 7px; margin-right: 10px; width: 60px; text-align: center; " 
                    class="sheet-view-tool-bar-text"> Options</div>
            </div>
        </div>
        <% fields = [] %>
        <% sheet.TextFields.forEach((f) => { %>
            <% f.type = 'text'; %>
            <% fields.push(f); %>
        <% }); %>
        <% sheet.OptionsFields.forEach((f) => { %>
            <% f.type = 'option'; %>
            <% fields.push(f); %>
        <% }); %>
        <% sheet.TimeSlotsFields.forEach((f) => { %>
            <% f.type = 'time-slot'; %>
            <% fields.push(f); %>
        <% }); %>

        <% fields.sort((a, b) => (a.FieldNumber > b.FieldNumber) ? 1 : -1) %>
        <% fields.forEach((field) => { %>
        <div class="sheet-field-container">
            <div class="sheet-field-button-bar">
                <div class="switch-container">
                    <div class="sheet-field-button-bar-required">
                        <label class="switch">
                            <input type="checkbox" class="required-switch" <%= (field.Required ? 'checked' : '')%> disabled >
                            <span class="slider round"></span></label>
                    </div>
                    <div class="sheet-field-button-bar-required-text"> Required </div>
                    <div style="clear: both;"></div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="field-holder">
                <div class="question-number"><%=field.FieldNumber %>. </div> 
                <% if (field.type == 'text') { %>
                    <div id="addTextField">
                    <%- include('text-field-response.ejs', {field: field}) %>

                <% } else if (field.type == 'option') { %>
                    <div id="addOptionsField">
                    <%- include('options-field-response.ejs', {field: field}) %>
                    
                <% } else if (field.type == 'time-slot') { %>
                <div id="addSlotField">
                    <%- include('time-slots-field-response.ejs', {field: field, timeSlotExtraData: timeSlotExtraData, sheetId: sheet._id}) %>
                <% } %>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <% }) %>
    </div>
</div>